{% extends 'JasatiMocapBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <p class="text-danger">{{ status_code }} {{ status_text }}</p>
        </div>
    </div>
{% endblock %}