<div id="video_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <video id='video_player' controls autoplay height="auto" width="100%">
                    <source src="" type="video/mp4">
                    <source src="" type="video/webm">
                    <source src="" type="video/ogg">
                </video>
            </div>
        </div>
    </div>
</div>