{% extends 'JasatiMocapBundle::base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h3>Hubungi kami</h3>
        <address>
            <strong>Gunadarma University</strong><br>
            Margonda Raya 100 Depok<br>
            Indonesia<br>
            <p>----</p>
            <strong>Email :</strong><br>
            ega@staff.gunadarma.ac.id<br>
            dharmayanti@staff.gunadarma.ac.id<br>
            syakur@staff.gunadarma.ac.id<br>
        </address>
    </div>
</div>
{% endblock %}