<div class="row">
    <div class="col-sm-6 col-md-10">
        <div class="thumbnail">
            <img src="{{ asset('assets/img/contactus.png') }}">
            <div class="caption">
                <a href="{{ path('contact') }}">
                    <h3 class="text-center">Contact Us</h3>
                </a>
            </div>
        </div>
    </div>
</div>