<div class="row">
    <div class="col-sm-6 col-md-10">
        <div class="thumbnail">
            <img src="{{ asset('assets/img/home.png') }}">

            <div class="caption">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        COLLECTION OF BVH & 3D ANIMATION'S FILES INDONESIAN TRADITIONAL DANCES
                    </a>

                    <a href="https://research.cs.wisc.edu/graphics/Courses/cs-838-1999/Jeff/BVH.html"
                       class="list-group-item">What is BVH FIle
                    </a>

                    <a href="#" class="list-group-item">BVH Viewer</a>
                </div>
            </div>
        </div>
    </div>
</div>

